@media (max-width:750px){
    .herocontent{
        flex-wrap: wrap;
    }
    .heroheading,.choose-us {
        width: 100%;
    }
    .features{
        flex-wrap: wrap;
    }
    .footer{
        flex-wrap: wrap;
    }

}