body{
    background-image: url(cool-background.png);
    background-size: cover;

}

.listopt:hover{
    box-shadow: 0px 0px 5px grey;
    background-color: #E54C41;
    color: white;
}
.listoptdd:hover{
    box-shadow: 0px 0px 5px grey;
    background-color: #5c899d;
    color: white;
}
.listoptdd{
    border-radius: 1.5rem;
}
.listopt{
    border-radius: 1.5rem;
}
.navbar{
    box-shadow: 0px 0px 10px black;
}
.herosct{
    margin-top: 6rem;
    padding-bottom: 1rem ;
}
.herocontent{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
}

.heroheading{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;

}
.heroheading h1{
    font-weight: 700;
    text-shadow: 2px 2px 5px #E54C41;
}
.heroheading p{
    color: grey;
    font-weight: 600;
}

.heroheading button{
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    color: white;
    background-color: #E54C41;
    transition: all 0.7s;

}

.heroheading button:hover{
    box-shadow: 0px 0px 20px #5c899d;
}
.choose-us{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 2rem;
    gap: 1rem;
    padding-left: 2rem;
    

}
.choose-us h4{
    color: #E54C41;
}
.choose-us h2{
    font-weight: 700;
    text-shadow: 2px 2px 5px #5c899d;
}
.choose-us p{
    font-weight: 600;
    color: #29292b;
}

.internship{
    background-color: #d3e7fa;
    width: 100%;
    margin-top: 10rem;
    padding-bottom: 4rem;
    
}
.interntxt{
    padding: 5rem;
}
.interntxt h2{
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 5px #E54C41;
}
.interntxt p{
    color: grey;
    font-weight: 600;
    text-align: center;
}
.interncards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;

}
.card{
    text-align: center;
    background-color: white;
    padding: 40px 30px;
    width: 350px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.8s;
    margin-top: 2rem;
}
.card a{
    text-decoration: none;
    background-color: #E54C41;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    
}
.card h4{
  
    font-weight: 700;
}

.card p{
    color: grey;
}

.card:hover{
    box-shadow: 0px 0px 25px #E54C41;
  
}

.our-feature{
    text-align: center;
    margin: 2rem;
}
.our-feature h2{
    font-weight: 700;
    text-shadow: 2px 2px 5px #E54C41;
    margin-top: 10rem;
    font-size: 3.5rem;
}
.features{
    display: flex;
   margin-top: 8rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    margin-bottom: 8rem;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    align-items: flex-start;
}